@model WorkingHours.WebClient.Models.IssueDetailsModel

@{
    ViewBag.Title = "Work time";
}

<h2>Work time</h2>

@{
    var dummy = Model.WorkTimes.Items.FirstOrDefault();
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.Hours)
        </th>
    </tr>

@foreach (var item in Model.WorkTimes.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.Date.ToLongDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
    </tr>
}

</table>

<div style="text-align: right">
    @if (Model.WorkTimes.PageCount > 1 && Model.WorkTimes.PageIndex > 1)
    {
        <a class="btn btn-primary" href="?pageIndex=@(Model.WorkTimes.PageIndex - 1)">&lt; Previous</a>
    }

    @if (Model.WorkTimes.PageCount > 1 && Model.WorkTimes.PageIndex < Model.WorkTimes.PageCount)
    {
        <a class="btn btn-primary" href="?pageIndex=@(Model.WorkTimes.PageIndex + 1)">Next &gt;</a>
    }
</div>

<div>
    @Html.ActionLink("Back to issues", "Details", "Projects", routeValues: new { id = Model.ProjectId }, htmlAttributes: null)
</div>