@model WorkingHours.WebClient.Models.IssueDetailsModel<WorkingHours.Shared.Dto.ManagerWorkTimeDto>

@{
    ViewBag.Title = "Worktime for all members";
}

<h2>Worktime for all members - @Model.IssueName</h2>

<div style="text-align: right; margin-bottom: 10px">
    <a class="btn btn-default" href="@Url.Action("Details", new {issueId = Model.IssueId, projectId = Model.ProjectId})">Just my worktime!</a>
</div>

@if (Model.WorkTimes.Items.Any())
{
    var dummy = Model.WorkTimes.Items.FirstOrDefault();
    <table class="table">
        <tr>
            <th>
                Member
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Hours)
            </th>
        </tr>

        @foreach (var item in Model.WorkTimes.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName) (@Html.DisplayFor(modelItem => item.Employee.Email))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Date.ToLongDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
            </tr>
        }

    </table>

    <div style="text-align: right">
        @if (Model.WorkTimes.PageCount > 1 && Model.WorkTimes.PageIndex > 1)
        {
            <a class="btn btn-primary" href="?pageIndex=@(Model.WorkTimes.PageIndex - 1)">&lt; Previous</a>
        }

        @if (Model.WorkTimes.PageCount > 1 && Model.WorkTimes.PageIndex < Model.WorkTimes.PageCount)
        {
            <a class="btn btn-primary" href="?pageIndex=@(Model.WorkTimes.PageIndex + 1)">Next &gt;</a>
        }
    </div>
}
else
{
    <div style="text-align: center">
        There are no work times!
    </div>
}

<div>
    @Html.ActionLink("Back to issues", "Issues", "Projects", new { id = Model.ProjectId}, null)
</div>

