@model IEnumerable<WorkingHours.Shared.Dto.IssueHeader>

@{
    ViewBag.Title = "Issues";
}

<h2>Issues</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.Deadline.HasValue)
            {
                @item.Deadline.Value.ToLongDateString()
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Issues", new { id=item.Id }, new {@class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
