@model WorkingHours.WebClient.Models.ProjectDetailsModel

@{
    ViewBag.Title = "Issues";
}

<h2>Issues - @Model.ProjectName</h2>

@if (Model.Issues.Count == 0)
{
    <div style="text-align: center">
        There are no issues in this project!
    </div>
}
else
{
    var dummy = Model.Issues.First();
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummy.Name)
            </th>
            <th>
                Closed
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Deadline)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Issues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsClosed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Deadline.HasValue)
                    {
                        @item.Deadline.Value.ToLongDateString()
                    }
                </td>
                <td>
                    @Html.ActionLink("Worktime", "Details", "Issues", new {issueId = item.Id, projectId = Model.ProjectId}, new {@class = "btn btn-primary"})
                </td>
            </tr>
        }

    </table>
}